<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>classAndMethod</key>
		<string>mage imageNamed:</string>
		<key>methodDeclaration</key>
		<string> imageNamed:</string>
		<key>methodName</key>
		<string>imageNamed</string>
		<key>comment</key>
		<string>Standard NSImage/UIImage method</string>
	</dict>
	<dict>
		<key>classAndMethod</key>
		<string>prite spriteWithFile:</string>
		<key>methodDeclaration</key>
		<string> spriteWithFile:</string>
		<key>methodName</key>
		<string>spriteWithFile</string>
		<key>comment</key>
		<string>cocos2d&apos;s CCSprite</string>
	</dict>
	<dict>
		<key>classAndMethod</key>
		<string>priteFrame frameWithImageNamed:</string>
		<key>methodDeclaration</key>
		<string> frameWithImageNamed:</string>
		<key>methodName</key>
		<string>frameWithImageNamed</string>
		<key>comment</key>
		<string>cocos2d&apos;s CCSpriteFrame</string>
	</dict>
	<dict>
		<key>classAndMethod</key>
		<string>ode spriteNodeWithImageNamed:</string>
		<key>methodDeclaration</key>
		<string> spriteNodeWithImageNamed:</string>
		<key>methodName</key>
		<string>spriteNodeWithImageNamed</string>
		<key>comment</key>
		<string>SpriteKit&apos;s sprite node</string>
	</dict>
	<dict>
		<key>classAndMethod</key>
		<string>ure textureWithImageNamed:</string>
		<key>methodDeclaration</key>
		<string> textureWithImageNamed:</string>
		<key>methodName</key>
		<string>textureWithImageNamed</string>
		<key>comment</key>
		<string>SpriteKit&apos;s SKTexture</string>
	</dict>
</array>
</plist>
